<a>商品編集</a>
<%= form_tag(post_path(@post), method: :patch,multipart: true) do %>
 <a>商品名</a>
 <textarea name="name"><%= @post.name %></textarea><br>
 <a>説明</a>
 <textarea name="contents"><%= @post.contents %></textarea><br>
 <a>価格</a>
 <textarea name="price"><%= @post.price %></textarea><br>
 <a>画像</a>
 <input type="file" name="picture"><br>
 <input type="submit" value="登録">
<% end %>
<a href="/">一覧へ</a>

<!--画像編集のときの初期値を設定できずにいる -->
